@media only screen and (min-width: 650px) {
    
    #menu {
        display: none;
    }
    
    body {
        padding: 20px;
    }

    .container {
        display: flex;
        justify-content: space-between;
    }

    header {
        padding: 10px 20px; 
        background-color: var(--accent3-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: -1;
    }

    header h1 {
        margin: 0;
        font-size: 1.8rem;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center; /* Ensure items are centered vertically */
        background-color: var(--primary-color);
        padding: 10px 0;
    }

    nav ul {
        display: flex;
        padding: 0;
        list-style-type: none;
        justify-content: center;
        align-items: center; /* Ensure items are centered vertically */
    }

    nav li {
        margin: 0 10px;
    }

    nav a {
        text-decoration: none;
        font-weight: bold;
        color: var(--accent2-color);
        font-family: var(--paragraph-font);
        padding: 10px;
    }

    nav a:hover {
        color: var(--primary-color);
    }

    .hero {
        display: flex;
        flex-direction: column;
        height: 400px;
        justify-content: center;
        text-align:center;
    }

    .cta {
        text-align: center;
        margin: 40px 0;
    }

    .events, .weather, .spotlights {
        padding: 30px;
        margin-bottom: 20px;
    }

    .footer {
        position: relative;
        width: auto;
        margin-top: 40px;
    }

    #hero-image {
        width: 90%;
        justify-content: center;
    }

    .section-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .events, .weather, .spotlights {
        flex: 1 1 calc(33% - 20px); 
        margin-right: 20px; 
        border-radius: .5em;
    }

    .spotlights {
        flex: 1 1 calc(50% - 20px);
    }

    .weather {
        margin-right: 0;
    }

   
   
}
