
:root {
    --primary-color: #6E2711;
    --secondary-color: #363020;
    --accent1-color: #5B8266;
    --accent2-color: #AEF6C7;
    --accent3-color: #E3D985;

    --heading-font: 'Grenze Gotisch', serif;
    --paragraph-font: 'Playfair Display', sans-serif;
 
    --nav-background-color:var(--accent1-color);
    --nav-link-color:var(--secondary-color);
    --nav-hover-link-color:#E1E6E1;
    --nav-hover-background-color:#253237;

}








@media only screen and (min-width: 650px) {
    
    #menu {
        display: none;
    }
    
    body {
        padding: 20px;
    }

    .container {
        display: flex;
        justify-content: space-between;
    }

    header {
        padding: 10px 20px; 
        background-color: var(--accent3-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: -1;
    }

    header h1 {
        margin: 0;
        font-size: 1.8rem;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center; /* Ensure items are centered vertically */
        background-color: var(--primary-color);
        padding: 10px 0;
    }

    nav ul {
        display: flex;
        padding: 0;
        list-style-type: none;
        justify-content: center;
        align-items: center; /* Ensure items are centered vertically */
    }

    nav li {
        margin: 0 10px;
    }

    nav a {
        text-decoration: none;
        font-weight: bold;
        color: var(--accent2-color);
        font-family: var(--paragraph-font);
        padding: 10px;
    }

    nav a:hover {
        color: var(--accent1-color);
    }

    .hero {
        display: flex;
        flex-direction: column;
        height: 400px;
        justify-content: center;
        text-align:center;
    }

    .cta {
        text-align: center;
        margin: 40px 0;
    }

    .events, .weather, .spotlights {
        padding: 30px;
        margin-bottom: 20px;
    }

    .footer {
        position: relative;
        width: auto;
        margin-top: 40px;
    }

    #hero-image {
        width: 90%;
        justify-content: center;
    }

    .section-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .events, .weather, .spotlights {
        flex: 1 1 calc(33% - 20px); 
        margin-right: 20px; 
        border-radius: .5em;
    }

    .spotlights {
        flex: 1 1 calc(50% - 20px);
    }

    .weather {
        margin-right: 0;
    }
    main {
        grid-template-columns: 1fr 3fr; /* Sidebar takes 1/4, gallery takes 3/4 */
    }
    .navigation li {
        display: block; /* Show navigation items in larger view */
    }
   



    main#join {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two equal columns */
        gap: 20px; /* Adjust the gap between columns */
        justify-content: center; /* Center the grid items horizontally */
        padding: 0 20px; /* Add padding to the sides */
        width: 100%; /* Ensure the container takes full width */
    }

    main#join .membership-benefits {
        grid-column: 2 / span 1; /* Membership benefits take the first column */
        justify-self: center;
    }

    main#join .cf1 {
        grid-column: 1 / span 1; /* Form takes the second column */
    }

    main#join .cf1 input[type="submit"] {
        width: 90%; /* Adjust submit button width */
        max-width: 400px;
        margin: 20px 5% 20px 15%; /* Center align the submit button */
    }
}
